In [29]:
import pandas as pd
import numpy as np

In [30]:
with open('batting2022.csv') as f:
    print(f)

<_io.TextIOWrapper name='batting2022.csv' mode='r' encoding='UTF-8'>

In [47]:
df = pd.read_csv("batting2022.csv", encoding='ISO-8859-1')
df_team = pd.read_csv("teamstats2022.csv", encoding='ISO-8859-1')
df_team_season = pd.read_csv("teamseasonstats2022.csv", encoding='ISO-8859-1')
pd.set_option('display.max_columns', None)

In [48]:
df

,Rk,Name,Age,Tm,Lg,G,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,PosÊSummary,Name-additional
0,1,CJÊAbrams*,21,TOT,NL,90,302,284,33,70,12,2,2,21,7,4,5,50,0.246,0.280,0.324,0.604,76.0,92,5,9,2,2,0,64/H9D,abramcj01
1,2,CJÊAbrams*,21,SDP,NL,46,139,125,16,29,5,0,2,11,1,2,4,27,0.232,0.285,0.320,0.605,77.0,40,4,6,2,2,0,64/H9D,abramcj01
2,3,CJÊAbrams*,21,WSN,NL,44,163,159,17,41,7,2,0,10,6,2,1,23,0.258,0.276,0.327,0.603,75.0,52,1,3,0,0,0,6/H,abramcj01
3,4,AlbertÊAbreu,26,TOT,AL,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,1,abreual01
4,5,AlbertÊAbreu,26,KCR,AL,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,/1,abreual01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982,983,SebyÊZavala,28,CHW,AL,61,205,178,22,48,14,0,2,21,0,0,19,64,0.270,0.347,0.382,0.729,107.0,68,1,3,3,2,0,2/H3D,zavalse01
983,984,BradleyÊZimmer*,29,TOT,MLB,109,117,105,18,13,5,0,2,5,3,2,5,45,0.124,0.207,0.229,0.435,25.0,24,0,6,1,0,0,8H/D9,zimmebr01
984,985,BradleyÊZimmer*,29,TOR,AL,100,101,89,14,9,4,0,2,5,3,2,5,41,0.101,0.200,0.213,0.413,19.0,19,0,6,1,0,0,8H/D9,zimmebr01
985,986,BradleyÊZimmer*,29,PHI,NL,9,16,16,4,4,1,0,0,0,0,0,0,4,0.250,0.250,0.313,0.563,58.0,5,0,0,0,0,0,/8H,zimmebr01
986,987,MikeÊZunino,31,TBR,AL,36,123,115,7,17,3,0,5,16,0,0,6,46,0.148,0.195,0.304,0.499,44.0,35,2,1,0,1,0,2/H,zuninmi01

In [36]:
df.shape

(987, 31)

In [33]:
df.describe()

,Rk,Age,G,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
count,987.000000,987.000000,987.000000,987.000000,987.000000,987.000000,987.000000,987.000000,987.000000,987.000000,987.000000,987.000000,987.000000,987.000000,987.000000,865.000000,866.000000,865.000000,865.000000,865.000000,987.000000,987.000000,987.000000,987.000000,987.000000,987.000000
mean,494.000000,28.072948,57.100304,204.520770,183.600811,23.295846,44.260385,8.845998,0.723404,5.789260,22.144883,2.755826,0.915907,16.758865,46.255319,0.209755,0.278275,0.330328,0.607746,72.730636,71.920973,3.801418,2.265451,0.446809,1.362715,0.514691
std,285.066659,3.591565,51.063746,207.323493,185.391901,26.185320,48.561603,10.401016,1.244660,8.087388,26.016345,5.171320,1.620113,19.973781,45.368713,0.078163,0.090562,0.146726,0.220610,61.182316,81.223316,4.709737,3.360137,1.191568,1.893768,1.641419
min,1.000000,20.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-100.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,247.500000,26.000000,9.000000,21.000000,18.000000,2.000000,3.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,6.000000,0.178000,0.250000,0.267000,0.525000,51.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,494.000000,28.000000,44.000000,131.000000,120.000000,14.000000,26.000000,4.000000,0.000000,2.000000,12.000000,1.000000,0.000000,9.000000,32.000000,0.225000,0.292000,0.351000,0.645000,83.000000,41.000000,2.000000,1.000000,0.000000,0.000000,0.000000
75%,740.500000,31.000000,100.000000,354.500000,323.500000,38.000000,76.500000,14.500000,1.000000,8.000000,36.000000,3.000000,1.000000,26.500000,76.000000,0.254000,0.324000,0.409000,0.732000,107.000000,120.000000,6.000000,3.000000,0.000000,2.000000,0.000000
max,987.000000,42.000000,162.000000,724.000000,657.000000,133.000000,199.000000,47.000000,9.000000,62.000000,131.000000,41.000000,12.000000,135.000000,200.000000,0.750000,1.000000,2.000000,2.500000,574.000000,391.000000,26.000000,28.000000,12.000000,10.000000,20.000000

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987 entries, 0 to 986
Data columns (total 31 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rk               987 non-null    int64
 1   Name             987 non-null    object
 2   Age              987 non-null    int64
 3   Tm               987 non-null    object
 4   Lg               987 non-null    object
 5   G                987 non-null    int64
 6   PA               987 non-null    int64
 7   AB               987 non-null    int64
 8   R                987 non-null    int64
 9   H                987 non-null    int64
 10  2B               987 non-null    int64
 11  3B               987 non-null    int64
 12  HR               987 non-null    int64
 13  RBI              987 non-null    int64
 14  SB               987 non-null    int64
 15  CS               987 non-null    int64
 16  BB               987 non-null    int64
 17  SO               987 non-null    int64
 18  BA               865 non-null    float64
 19  OBP              866 non-null    float64
 20  SLG              865 non-null    float64
 21  OPS              865 non-null    float64
 22  OPS+             865 non-null    float64
 23  TB               987 non-null    int64
 24  GDP              987 non-null    int64
 25  HBP              987 non-null    int64
 26  SH               987 non-null    int64
 27  SF               987 non-null    int64
 28  IBB              987 non-null    int64
 29  PosÊSummary      987 non-null    object
 30  Name-additional  987 non-null    object
dtypes: float64(5), int64(21), object(5)
memory usage: 239.2+ KB

In [42]:
df = df.drop(["Name-additional"], axis=1)

In [43]:
df

,Rk,Name,Age,Tm,Lg,G,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,PosÊSummary
0,1,CJÊAbrams*,21,TOT,NL,90,302,284,33,70,12,2,2,21,7,4,5,50,0.246,0.280,0.324,0.604,76.0,92,5,9,2,2,0,64/H9D
1,2,CJÊAbrams*,21,SDP,NL,46,139,125,16,29,5,0,2,11,1,2,4,27,0.232,0.285,0.320,0.605,77.0,40,4,6,2,2,0,64/H9D
2,3,CJÊAbrams*,21,WSN,NL,44,163,159,17,41,7,2,0,10,6,2,1,23,0.258,0.276,0.327,0.603,75.0,52,1,3,0,0,0,6/H
3,4,AlbertÊAbreu,26,TOT,AL,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,1
4,5,AlbertÊAbreu,26,KCR,AL,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,/1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982,983,SebyÊZavala,28,CHW,AL,61,205,178,22,48,14,0,2,21,0,0,19,64,0.270,0.347,0.382,0.729,107.0,68,1,3,3,2,0,2/H3D
983,984,BradleyÊZimmer*,29,TOT,MLB,109,117,105,18,13,5,0,2,5,3,2,5,45,0.124,0.207,0.229,0.435,25.0,24,0,6,1,0,0,8H/D9
984,985,BradleyÊZimmer*,29,TOR,AL,100,101,89,14,9,4,0,2,5,3,2,5,41,0.101,0.200,0.213,0.413,19.0,19,0,6,1,0,0,8H/D9
985,986,BradleyÊZimmer*,29,PHI,NL,9,16,16,4,4,1,0,0,0,0,0,0,4,0.250,0.250,0.313,0.563,58.0,5,0,0,0,0,0,/8H
986,987,MikeÊZunino,31,TBR,AL,36,123,115,7,17,3,0,5,16,0,0,6,46,0.148,0.195,0.304,0.499,44.0,35,2,1,0,1,0,2/H

In [45]:
df_team

,ï»¿Tm,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,LOB
0,Arizona Diamondbacks,57,26.5,4.33,162,6027,5351,702,1232,262,24,173,658,104,29,531,1341,0.230,0.304,0.385,0.689,95,2061,97,60,31,50,14,1039
1,Atlanta Braves,53,27.5,4.87,162,6082,5509,789,1394,298,11,243,753,87,31,470,1498,0.253,0.317,0.443,0.761,111,2443,103,66,1,36,13,1030
2,Baltimore Orioles,58,27.0,4.16,162,6049,5429,674,1281,275,25,171,639,95,31,476,1390,0.236,0.305,0.390,0.695,97,2119,95,83,12,43,10,1095
3,Boston Red Sox,54,28.8,4.54,162,6144,5539,735,1427,352,12,155,704,52,20,478,1373,0.258,0.321,0.409,0.731,102,2268,131,63,12,50,23,1133
4,Chicago Cubs,64,27.9,4.06,162,6072,5425,657,1293,265,31,159,620,111,37,507,1448,0.238,0.311,0.387,0.698,96,2097,130,84,19,36,16,1100
5,Chicago White Sox,44,29.3,4.23,162,6123,5611,686,1435,272,9,149,654,58,10,388,1269,0.256,0.310,0.387,0.698,97,2172,127,73,16,35,9,1117
6,Cincinnati Reds,66,29.4,4.00,162,5978,5380,648,1264,235,18,156,618,58,33,452,1430,0.235,0.304,0.372,0.676,83,2003,127,92,12,33,6,1020
7,Cleveland Guardians,50,25.9,4.31,162,6163,5558,698,1410,273,31,127,662,119,27,450,1122,0.254,0.316,0.383,0.699,102,2126,115,81,22,52,36,1156
8,Colorado Rockies,43,29.1,4.31,162,6105,5540,698,1408,280,34,149,669,45,20,453,1330,0.254,0.315,0.398,0.713,90,2203,139,61,10,40,10,1113
9,Detroit Tigers,53,27.9,3.44,162,5870,5378,557,1240,235,27,110,530,47,24,380,1413,0.231,0.286,0.346,0.632,84,1859,108,58,10,44,8,1015
10,Houston Astros,45,29.3,4.55,162,6054,5409,737,1341,284,13,214,715,83,22,528,1179,0.248,0.319,0.424,0.743,111,2293,118,60,9,42,18,1068
11,Kansas City Royals,55,27.1,3.95,162,6010,5437,640,1327,247,38,138,613,104,34,460,1287,0.244,0.306,0.380,0.686,93,2064,101,48,20,44,7,1091
12,Los Angeles Angels,66,27.9,3.85,162,5977,5423,623,1265,219,31,190,600,77,27,449,1539,0.233,0.297,0.390,0.687,94,2116,95,54,25,25,28,1050
13,Los Angeles Dodgers,51,29.6,5.23,162,6247,5526,847,1418,325,31,212,812,98,18,607,1374,0.257,0.333,0.442,0.775,112,2441,85,56,3,53,22,1159
14,Miami Marlins,56,28.8,3.62,162,5949,5395,586,1241,248,20,144,554,122,29,436,1429,0.230,0.294,0.363,0.658,86,1961,120,70,4,36,6,1045
15,Milwaukee Brewers,51,29.1,4.48,162,6122,5417,725,1271,251,17,219,703,96,30,577,1464,0.235,0.315,0.409,0.724,105,2213,117,80,11,37,25,1102
16,Minnesota Twins,61,26.9,4.30,162,6113,5476,696,1356,269,18,178,668,38,17,518,1353,0.248,0.317,0.401,0.718,107,2195,133,62,10,46,11,1126
17,New York Mets,61,29.7,4.77,162,6176,5489,772,1422,272,27,171,735,62,22,510,1217,0.259,0.332,0.412,0.744,113,2261,122,112,20,44,25,1158
18,New York Yankees,54,30.2,4.98,162,6172,5422,807,1308,225,8,254,764,102,33,620,1391,0.241,0.325,0.426,0.751,113,2311,121,70,14,41,36,1093
19,Oakland Athletics,64,28.3,3.51,162,5863,5314,568,1147,249,15,137,537,78,23,433,1389,0.216,0.281,0.346,0.626,82,1837,109,59,22,33,7,969
20,Philadelphia Phillies,56,28.1,4.61,162,6077,5496,747,1392,255,29,205,719,105,28,478,1363,0.253,0.317,0.422,0.739,107,2320,116,52,6,44,15,1075
21,Pittsburgh Pirates,68,26.3,3.65,162,5912,5331,591,1186,221,29,158,555,89,32,476,1497,0.222,0.291,0.364,0.655,84,1939,96,54,19,32,14,1016
22,San Diego Padres,55,28.2,4.35,162,6175,5468,705,1317,275,18,153,682,49,22,574,1327,0.241,0.318,0.382,0.700,104,2087,95,65,17,46,24,1174
23,Seattle Mariners,59,27.5,4.26,162,6117,5375,690,1236,229,19,197,663,83,27,596,1397,0.230,0.315,0.390,0.704,106,2094,120,89,9,45,17,1129
24,San Francisco Giants,66,30.0,4.42,162,6117,5392,716,1261,255,18,183,683,64,16,571,1462,0.234,0.315,0.390,0.705,98,2101,109,95,6,53,14,1115
25,St. Louis Cardinals,51,28.8,4.77,162,6165,5496,772,1386,290,21,197,739,95,25,537,1226,0.252,0.325,0.420,0.745,114,2309,112,80,5,45,11,1132
26,Tampa Bay Rays,61,27.0,4.11,162,6008,5412,666,1294,296,17,139,634,95,37,500,1395,0.239,0.309,0.377,0.686,100,2041,93,57,7,31,13,1074
27,Texas Rangers,55,28.0,4.36,162,6029,5478,707,1308,224,20,198,670,128,41,456,1446,0.239,0.301,0.395,0.696,98,2166,82,47,10,38,12,1007
28,Toronto Blue Jays,51,27.1,4.78,162,6158,5555,775,1464,307,12,200,756,67,35,500,1242,0.264,0.329,0.431,0.760,116,2395,136,55,8,33,13,1111
29,Washington Nationals,55,28.7,3.72,162,5998,5434,603,1351,252,20,136,579,75,31,442,1221,0.249,0.310,0.377,0.688,99,2051,141,60,20,37,12,1099
30,League Average,50,28.2,4.28,162,6068,5449,694,1322,265,21,174,663,83,27,495,1360,0.243,0.312,0.395,0.706,100,2152,113,68,13,41,16,1087
31,NaN,1495,28.2,4.28,4860,182052,163465,20817,39675,7940,643,5215,19888,2486,811,14853,40812,0.243,0.312,0.395,0.706,100,64546,3393,2046,390,1224,475,32611

In [50]:
df_team_season

,ï»¿Rk,Tm,W,L,W-L%,Strk,R,RA,Rdiff,SOS,SRS,pythWL
0,1.0,Los Angeles Dodgers,111,51,0.685,W 1,5.2,3.2,2.1,-0.2,1.8,116-46
1,2.0,Houston Astros,106,56,0.654,W 2,4.5,3.2,1.4,-0.1,1.3,106-56
2,3.0,Atlanta Braves,101,61,0.623,L 1,4.9,3.8,1.1,-0.1,1.0,100-62
3,4.0,New York Mets,101,61,0.623,W 3,4.8,3.7,1.0,-0.1,1.0,99-63
4,5.0,New York Yankees,99,63,0.611,L 2,5.0,3.5,1.5,0.0,1.5,106-56
5,6.0,St. Louis Cardinals,93,69,0.574,L 1,4.8,3.9,0.8,-0.3,0.6,95-67
6,7.0,Cleveland Guardians,92,70,0.568,W 2,4.3,3.9,0.4,-0.1,0.2,88-74
7,8.0,Toronto Blue Jays,92,70,0.568,W 1,4.8,4.2,0.6,0.1,0.7,91-71
8,9.0,Seattle Mariners,90,72,0.556,W 3,4.3,3.8,0.4,0.0,0.4,89-73
9,10.0,San Diego Padres,89,73,0.549,L 1,4.4,4.1,0.3,0.0,0.3,86-76
10,11.0,Philadelphia Phillies,87,75,0.537,L 2,4.6,4.2,0.4,0.0,0.4,87-75
11,12.0,Milwaukee Brewers,86,76,0.531,L 1,4.5,4.2,0.2,-0.2,0.0,85-77
12,13.0,Tampa Bay Rays,86,76,0.531,L 5,4.1,3.8,0.3,0.1,0.4,87-75
13,14.0,Baltimore Orioles,83,79,0.512,L 1,4.2,4.2,-0.1,0.2,0.1,79-83
14,15.0,Chicago White Sox,81,81,0.500,L 1,4.2,4.4,-0.2,-0.1,-0.3,78-84
15,16.0,San Francisco Giants,81,81,0.500,W 1,4.4,4.3,0.1,0.0,0.1,83-79
16,17.0,Minnesota Twins,78,84,0.481,W 1,4.3,4.2,0.1,-0.1,0.0,82-80
17,18.0,Boston Red Sox,78,84,0.481,W 3,4.5,4.9,-0.3,0.2,-0.1,76-86
18,19.0,Chicago Cubs,74,88,0.457,W 1,4.1,4.5,-0.5,-0.1,-0.6,73-89
19,20.0,Arizona Diamondbacks,74,88,0.457,W 1,4.3,4.6,-0.2,0.0,-0.2,77-85
20,21.0,Los Angeles Angels,73,89,0.451,L 3,3.8,4.1,-0.3,0.1,-0.1,76-86
21,22.0,Miami Marlins,69,93,0.426,W 1,3.6,4.2,-0.6,0.1,-0.5,70-92
22,23.0,Texas Rangers,68,94,0.420,W 2,4.4,4.6,-0.2,0.1,-0.1,77-85
23,24.0,Colorado Rockies,68,94,0.420,L 1,4.3,5.4,-1.1,0.1,-1.0,65-97
24,25.0,Detroit Tigers,66,96,0.407,L 3,3.4,4.4,-1.0,0.0,-1.0,63-99
25,26.0,Kansas City Royals,65,97,0.401,L 2,4.0,5.0,-1.0,0.1,-1.0,64-98
26,27.0,Pittsburgh Pirates,62,100,0.383,W 1,3.6,5.0,-1.4,0.0,-1.4,58-104
27,28.0,Cincinnati Reds,62,100,0.383,L 1,4.0,5.0,-1.0,-0.1,-1.1,64-98
28,29.0,Oakland Athletics,60,102,0.370,W 4,3.5,4.8,-1.2,0.2,-1.0,59-103
29,30.0,Washington Nationals,55,107,0.340,L 5,3.7,5.3,-1.6,0.1,-1.4,56-106
30,NaN,Average,81,81,0.500,NaN,4.3,4.3,NaN,NaN,NaN,81-80