In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("batting2022.csv")

In [8]:
df.head()

                                              #NAME?
0  Rk,Name,Age,Tm,Lg,G,PA,AB,R,H,2B,3B,HR,RBI,SB,...
1  1,CJ Abrams*,21,TOT,NL,90,302,284,33,70,12,2,2...
2  2,CJ Abrams*,21,SDP,NL,46,139,125,16,29,5,0,2,...
3  3,CJ Abrams*,21,WSN,NL,44,163,159,17,41,7,2,0,...
4  4,Albert Abreu,26,TOT,AL,1,0,0,0,0,0,0,0,0,0,0...