In [29]:
import pandas as pd
import numpy as np

In [30]:
with open('batting2022.csv') as f:
    print(f)

<_io.TextIOWrapper name='batting2022.csv' mode='r' encoding='UTF-8'>

In [31]:
df = pd.read_csv("batting2022.csv", encoding='ISO-8859-1')
pd.set_option('display.max_columns', None)

In [32]:
df

,Rk,Name,Age,Tm,Lg,G,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,PosÊSummary,Name-additional
0,1,CJÊAbrams*,21,TOT,NL,90,302,284,33,70,12,2,2,21,7,4,5,50,0.246,0.280,0.324,0.604,76.0,92,5,9,2,2,0,64/H9D,abramcj01
1,2,CJÊAbrams*,21,SDP,NL,46,139,125,16,29,5,0,2,11,1,2,4,27,0.232,0.285,0.320,0.605,77.0,40,4,6,2,2,0,64/H9D,abramcj01
2,3,CJÊAbrams*,21,WSN,NL,44,163,159,17,41,7,2,0,10,6,2,1,23,0.258,0.276,0.327,0.603,75.0,52,1,3,0,0,0,6/H,abramcj01
3,4,AlbertÊAbreu,26,TOT,AL,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,1,abreual01
4,5,AlbertÊAbreu,26,KCR,AL,1,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,/1,abreual01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982,983,SebyÊZavala,28,CHW,AL,61,205,178,22,48,14,0,2,21,0,0,19,64,0.270,0.347,0.382,0.729,107.0,68,1,3,3,2,0,2/H3D,zavalse01
983,984,BradleyÊZimmer*,29,TOT,MLB,109,117,105,18,13,5,0,2,5,3,2,5,45,0.124,0.207,0.229,0.435,25.0,24,0,6,1,0,0,8H/D9,zimmebr01
984,985,BradleyÊZimmer*,29,TOR,AL,100,101,89,14,9,4,0,2,5,3,2,5,41,0.101,0.200,0.213,0.413,19.0,19,0,6,1,0,0,8H/D9,zimmebr01
985,986,BradleyÊZimmer*,29,PHI,NL,9,16,16,4,4,1,0,0,0,0,0,0,4,0.250,0.250,0.313,0.563,58.0,5,0,0,0,0,0,/8H,zimmebr01
986,987,MikeÊZunino,31,TBR,AL,36,123,115,7,17,3,0,5,16,0,0,6,46,0.148,0.195,0.304,0.499,44.0,35,2,1,0,1,0,2/H,zuninmi01

In [36]:
df.shape

(987, 31)

In [33]:
df.describe()

,Rk,Age,G,PA,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
count,987.000000,987.000000,987.000000,987.000000,987.000000,987.000000,987.000000,987.000000,987.000000,987.000000,987.000000,987.000000,987.000000,987.000000,987.000000,865.000000,866.000000,865.000000,865.000000,865.000000,987.000000,987.000000,987.000000,987.000000,987.000000,987.000000
mean,494.000000,28.072948,57.100304,204.520770,183.600811,23.295846,44.260385,8.845998,0.723404,5.789260,22.144883,2.755826,0.915907,16.758865,46.255319,0.209755,0.278275,0.330328,0.607746,72.730636,71.920973,3.801418,2.265451,0.446809,1.362715,0.514691
std,285.066659,3.591565,51.063746,207.323493,185.391901,26.185320,48.561603,10.401016,1.244660,8.087388,26.016345,5.171320,1.620113,19.973781,45.368713,0.078163,0.090562,0.146726,0.220610,61.182316,81.223316,4.709737,3.360137,1.191568,1.893768,1.641419
min,1.000000,20.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-100.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,247.500000,26.000000,9.000000,21.000000,18.000000,2.000000,3.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,6.000000,0.178000,0.250000,0.267000,0.525000,51.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,494.000000,28.000000,44.000000,131.000000,120.000000,14.000000,26.000000,4.000000,0.000000,2.000000,12.000000,1.000000,0.000000,9.000000,32.000000,0.225000,0.292000,0.351000,0.645000,83.000000,41.000000,2.000000,1.000000,0.000000,0.000000,0.000000
75%,740.500000,31.000000,100.000000,354.500000,323.500000,38.000000,76.500000,14.500000,1.000000,8.000000,36.000000,3.000000,1.000000,26.500000,76.000000,0.254000,0.324000,0.409000,0.732000,107.000000,120.000000,6.000000,3.000000,0.000000,2.000000,0.000000
max,987.000000,42.000000,162.000000,724.000000,657.000000,133.000000,199.000000,47.000000,9.000000,62.000000,131.000000,41.000000,12.000000,135.000000,200.000000,0.750000,1.000000,2.000000,2.500000,574.000000,391.000000,26.000000,28.000000,12.000000,10.000000,20.000000

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987 entries, 0 to 986
Data columns (total 31 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rk               987 non-null    int64
 1   Name             987 non-null    object
 2   Age              987 non-null    int64
 3   Tm               987 non-null    object
 4   Lg               987 non-null    object
 5   G                987 non-null    int64
 6   PA               987 non-null    int64
 7   AB               987 non-null    int64
 8   R                987 non-null    int64
 9   H                987 non-null    int64
 10  2B               987 non-null    int64
 11  3B               987 non-null    int64
 12  HR               987 non-null    int64
 13  RBI              987 non-null    int64
 14  SB               987 non-null    int64
 15  CS               987 non-null    int64
 16  BB               987 non-null    int64
 17  SO               987 non-null    int64
 18  BA               865 non-null    float64
 19  OBP              866 non-null    float64
 20  SLG              865 non-null    float64
 21  OPS              865 non-null    float64
 22  OPS+             865 non-null    float64
 23  TB               987 non-null    int64
 24  GDP              987 non-null    int64
 25  HBP              987 non-null    int64
 26  SH               987 non-null    int64
 27  SF               987 non-null    int64
 28  IBB              987 non-null    int64
 29  PosÊSummary      987 non-null    object
 30  Name-additional  987 non-null    object
dtypes: float64(5), int64(21), object(5)
memory usage: 239.2+ KB